.footer{
    display: flex;
    justify-content: center;


    background-color: rgb(16, 16, 16);

    color:rgb(206, 206, 206);
}

.footer p{   
    font-size: 0.7vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

@media (max-width: 1201px) {
    .footer p{
        font-size: 1vw;
    }
}

@media (max-width: 1025px) {
    .footer p{
        font-size: 1.2vw;
    }
}

@media (max-width: 769px) {
    .footer p{
        font-size: 1.5vw;
    }
}

@media (max-width: 610px) {
    .footer p{
        font-size: 1.8vw;
    }
}

@media (max-width: 480px) {
    .footer p{
        font-size: 2.3vw;
    }
}